@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 1. VARIÁVEIS DE CORES E FONTES (Fácil de mudar pro próximo cliente) */
:root {
    --cor1: #39ff15;
    --cor2: #0d1416;
    --cor-texto: #f5f5f5;
    --cor-descricao: #d8d8d8;
    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. COMPORTAMENTO DE SCROLL (Efeito suave ao clicar no menu) */
html {
    scroll-behavior: smooth;
}

/* 3. TIPOGRAFIA RESPONSIVA */
body {
    font-family: var(--fonte-principal);
    color: var(--cor-texto);
    line-height: 1.2; /* Melhora muito a leitura */
    background-color: gray;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* 4. IMAGENS E MÍDIAS (Regra de Ouro) */
img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

/* 5. UTILITÁRIOS (Classes rápidas para usar no HTML) */
.container {
    width: 100%;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 6. BOTÕES (Estilo base para LP) */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
    border: none;
    text-align: center;
}

.btn:hover {
    transform: translateY(-2px); /* Efeito de levante */
    filter: brightness(1.2);
}

.btn:active {
    transform: translateY(0);
}

.efeito-glass2 {
    
    border: 1px solid rgb(from var(--cor1) r g b / 0.3); /*glass*/
    box-shadow: 0 2px 16px 0 rgb(from var(--cor1) r g b / 0.1); /*glass*/
    background-color: rgb(from var(--cor2) r g b / 0.3); /*glass*/
    backdrop-filter: blur(2px); /*glass*/
    -webkit-backdrop-filter: blur(2px); /*glass*/
}