header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    box-shadow: 0 0 10px 0 rgb(from var(--cor1) r g b / 0.1);
    background-color: rgb(from var(--cor2) r g b / 0.3); /*glass*/
    backdrop-filter: blur(2px); /*glass*/
    -webkit-backdrop-filter: blur(2px); /*glass*/
}

header > img {max-width: 120px;}

nav > a {
    color: var(--cor-texto);
    margin-right: 1.5rem;
    transition: transform 0.1s ease-in-out;
    display: inline-block;
}

nav > a:last-child {margin-right: auto;}

nav > a:hover {color: var(--cor1); transform: scale(1.05);
}

nav > a:active {color: var(--cor-texto);transform: none;}

#cabecalho-mobile {display: none;}

.container {background-color: var(--cor2);}

#inicio {
    background-color: var(--cor2);
    background-image: linear-gradient(to bottom,
    rgb(from var(--cor1) r g b / 0) 0%,
    rgb(from var(--cor1) r g b / 0.25) 50%,
    rgb(from var(--cor1) r g b / 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5rem 4rem;
    min-height: 100vh;
}

.secao-hero {
    width: 60%; text-align: center; margin: auto;}

.profissao {
    font-size: 0.75rem;
    text-align: center;
    color: var(--cor1);
    padding: 5px 10px;
    border-radius: 10px;
}

.secao-hero h1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--cor-texto);
}

.destaque {
    color: var(--cor1);
    text-shadow: 2px 1px 10px rgb(from var(--cor1) r g b / 0.8);
}

.secao-hero h2 {
    color: var(cor-descricao);
    font-weight: 200;
    margin: 2rem 0;
}

#ver-projetos-btn {
    color: var(--cor2);
    background-color: var(--cor1);
    margin: 0 0.5rem 1rem 0;
}

#entrar-contato-btn {
    color: var(--cor-texto);margin-bottom: 2rem;}

.redes-contato a {
    box-shadow: none;
    padding: 10px;
    margin-bottom: 1rem;
}

.redes-contato i {
    color: var(--cor1);
    font-size: 22px;
    font-weight: 300;
}

.secao-terminal {width: 40%; margin: auto;}
/*TERMINAL*/
.janela-terminal {
    background: rgb(from var(--cor2) r g b / 0.7);
    border-radius: 12px;
    font-family: 'Fira Code', monospace;
    overflow: hidden;
    width: 382px;
    margin: 0 auto;
}

.cabecalho-terminal {
    background: rgb(from var(--cor2) r g b / 0.9);
    padding: 10px;
    display: flex;
    align-items: center;
}

.ponto { height: 10px; width: 10px; border-radius: 50%; margin-right: 6px; }
.vermelho { background: #ff5f56; }
.amarelo { background: #ffbd2e; }
.verde { background: #27c93f; }

.corpo-terminal { padding: 20px; color: #bdbdbd; font-size: 14px; }
.titulo-terminal { color: #f5f5f5; }
.comando { color: var(--cor1); }
.sucesso { color: var(--cor1); font-weight: bold; }
/*============================================*/
/*============================================*/

@media (max-width: 450px) {
    #inicio {flex-direction: column; padding: 4rem 2rem;}

    .secao-hero, .secao-terminal {width: 100%; align-items: center;}

    .secao-hero h1 {font-size: 3rem;}

    #quebra-h1{display: none;}

    #quebra-h2{display: none;}

    #ver-projetos-btn, #entrar-contato-btn {padding: 8px 10px;}

    .janela-terminal {max-width: 95%;}

    .cabecalho-terminal {font-size: 0.9rem;}

    .corpo-terminal {font-size: 0.8rem; line-height: 1.4;}
}

@media (min-width: 451px) and (max-width: 768px) {
    #inicio {flex-direction: column; padding: 4rem 2rem;}

    .secao-hero, .secao-terminal {width: 100%; align-items: center;}

    .secao-hero h1 {font-size: 3.5rem;}

    #quebra-h1{display: none;}
}

@media (min-width: 769px) and (max-width: 1299px) {#quebra-h1{display: none;}}