/*SEÇÃO TERMINAL*/
.terminal-window {
    background: #0d1416f8;
    backdrop-filter: blur(10px); /* O efeito que você queria */
    border: 1px solid rgba(0, 255, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    font-family: 'Fira Code', monospace;
    overflow: hidden;
    width: 375px;
}

.terminal-header {
    background: #0d1416f3;
    padding: 10px;
    display: flex;
    align-items: center;
}

.dot { height: 10px; width: 10px; border-radius: 50%; margin-right: 6px; }
.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

.terminal-body { padding: 20px; color: #bdbdbd; font-size: 14px; }
.terminal-title { color: #f5f5f5; }
.prompt { color: #39FF15; } /* Verde Neon */
.success { color: #39FF15; font-weight: bold; }
/*============================================*/
/*============================================*/