#cabecalho {     
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    border: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 0 rgb(from var(--cor1) r g b / 0.1);  
}

#nav-menu a, #nav-menu-mobile a {
    color: var(--cor-texto);
    margin-right: 1.5rem;
    transition: transform 0.1s ease-in-out;
    display: inline-block;
}

#nav-menu a:last-child {margin-right: 0;}

#nav-menu a:hover, #nav-menu-mobile a:hover {color: var(--cor1); transform: scale(1.05);}

#nav-menu a:active, #nav-menu-mobile a:active {color: var(--cor-texto);transform: scale(1);}

#cabecalho-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    position: fixed;
    width: 100%;
    z-index: 100;  
    border: none;
    box-shadow: none;
}

#cabecalho-mobile img {max-width: 80px;}

#nav-menu-mobile {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 10px;
    text-align: center;
    border: none;
    box-shadow: 0 15px 15px 0 rgb(from var(--cor1) r g b / 0.1);
}

#nav-menu-mobile.active {
    display: flex;
}

.menu-toggle {
    color: var(--cor-texto);
    padding: 5px 10px;
    border-radius: 5px;
}

#nav-menu-mobile a {margin-right: 0; padding: 0.2rem 0;}

.container {background-color: var(--cor2);}

section {
    background-color: var(--cor2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 7.5rem 8rem;
    min-height: 100vh;
}

#inicio {
    background-image: linear-gradient(to bottom,
    rgb(from var(--cor1) r g b / 0) 0%,
    rgb(from var(--cor1) r g b / 0.25) 50%,
    rgb(from var(--cor1) r g b / 0) 100%);
    padding: 7.5rem 4rem;
}

.secao-hero {
    width: 60%; text-align: center; margin: auto;}

.profissao {
    font-size: 0.75rem;
    text-align: center;
    color: var(--cor1);
    padding: 5px 10px;
    border-radius: 10px;
}

.secao-hero h1 {
    font-size: 4rem;
    font-weight: bold;
}

.destaque {
    color: var(--cor1);
    text-shadow: 2px 1px 10px rgb(from var(--cor1) r g b / 0.8);
}

.secao-hero h2 {
    font-size: 1rem;
    color: var(cor-descricao);
    font-weight: 200;
    margin: 0.2rem 0 1.5rem;
}

#ver-projetos-btn {
    color: var(--cor2);
    background-color: var(--cor1);
    margin: 0 0.5rem 1rem 0;
}

#entrar-contato-btn {
    color: var(--cor-texto);margin-bottom: 2rem;}

.redes-contato a {
    box-shadow: none;
    padding: 10px;
    margin-bottom: 1rem;
}

.redes-contato i {
    color: var(--cor1);
    font-size: 1.375rem;
    font-weight: 300;
}

.secao-terminal {width: 40%; margin: auto;}

.janela-terminal {
    background: rgb(from var(--cor2) r g b / 0.7);
    border-radius: 12px;
    font-family: 'Fira Code', monospace;
    overflow: hidden;
    width: 382px;
    margin: 0 auto;
}

.cabecalho-terminal {
    background: rgb(from var(--cor2) r g b / 0.9);
    padding: 10px;
    display: flex;
    align-items: center;
}

.ponto { height: 10px; width: 10px; border-radius: 50%; margin-right: 6px; }
.vermelho { background: #ff5f56; }
.amarelo { background: #ffbd2e; }
.verde { background: #27c93f; }

.corpo-terminal { padding: 20px; color: #bdbdbd; font-size: 14px; }
.titulo-terminal { color: #f5f5f5; }
.comando { color: var(--cor1); }
.sucesso { color: var(--cor1); font-weight: bold; }
/*============================================*/
/*============================================*/

#sobre {
    background-image: linear-gradient(to right,
    rgb(from var(--cor1) r g b / 0) 0%,
    rgb(from var(--cor1) r g b / 0.25) 50%,
    rgb(from var(--cor1) r g b / 0) 100%);
    justify-content: center;
    margin: auto;
}

.secao-sobre p {
    padding: 2rem 1rem;
    margin: 2.2rem 0;
    border-radius: 1.25rem;
    line-height: 1.6;

}

#secao-sobre-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: clamp(1rem, 2.5vw, 2rem);
}

.sobre-card {
    width: auto;
    height: auto;
    border-radius: 1.25rem;
    padding: 0.937rem;
    transition: all 0.3s ease;
}

.sobre-card:hover {
    transform: translateY(-2px); /* Efeito de levante */
    filter: brightness(1.2);
}

.sobre-card:active {transform: translateY(0);}

.sobre-card i{
    color: var(--cor1);
    font-size: 1.375rem;
    background-color: rgb(from var(--cor1) r g b / 0.1);
    padding: 0.625rem;
    border-radius: 15px;

}

.sobre-card h3 {
    font-weight: bold;
    margin: 0.937rem 0 0.937rem;
}

.sobre-card p {
    color: var(--cor-descricao);
    padding: 0;
    font-size: 0.75rem;
}

#secao-stacks-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 7.5rem);
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 1rem;

}

.stack-card {
    background-color: rgb(from var(--cor1) r g b / 0.1);
    border-radius: 1.25rem 0 0 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 7.5rem;
    transition: all 0.3s ease;
}

.stack-card:hover {
    transform: translateY(-2px); /* Efeito de levante */
    filter: brightness(1.2);
}

.stack-card:active { transform: translateY(0);}

.stack-card h4 {
    color: var(--cor1);
    text-align: center;
    font-weight: bold;
}

.stack-card i {
    color: var(--cor1);
    font-size: 3.1rem;
    text-align: center;
    margin: 1rem;
}


/*trocar fundo do site para algo no estilo section {
    background: radial-gradient(circle at center, rgba(57, 255, 21, 0.05) 0%, #080808 80%);
}*/

@media (max-width: 450px) {
    #cabecalho {display: none;}

    #cabecalho-mobile {display: flex;}

    section {padding: 3.75rem 10%;}

    #inicio {flex-direction: column; padding: 4rem 2rem;}

    .secao-hero, .secao-terminal {width: 100%; align-items: center;}

    .secao-hero h1 {font-size: 3rem;}

    #quebra-h1{display: none;}

    #quebra-h2{display: none;}

    #ver-projetos-btn, #entrar-contato-btn {padding: 8px 10px;}

    .janela-terminal {max-width: 100%;}

    .cabecalho-terminal {font-size: 0.9rem;}

    .corpo-terminal {font-size: 0.8rem; line-height: 1.4;}

    #secao-stacks-cards {grid-template-columns: repeat(2, 5rem);}/*diminuir 1/3 dos cards*/

    .stack-card {height: 5rem; border-radius: .83rem 0 0 0;}

    .stack-card h4 {font-size: .66rem}

    .stack-card i {font-size: 2.06rem; margin: .66rem;}
    
    .descricao {margin-bottom: 1rem;}

}

@media (min-width: 451px) and (max-width: 768px) {
    #cabecalho {display: none;}

    #cabecalho-mobile {display: flex;}

    section {padding: 3.75rem 10%;}

    #inicio {flex-direction: column; padding: 4rem 2rem;}

    .secao-hero, .secao-terminal {width: 100%; align-items: center;}

    .secao-hero h1 {font-size: 3.5rem;}

    #quebra-h1{display: none;}

    .efeito-sublinhado {
        font-size: 2.5rem;
    }

    #secao-stacks-cards {grid-template-columns: repeat(4, 5rem);}/*diminuir 1/3 dos cards*/

    .stack-card {height: 5rem; border-radius: .83rem 0 0 0;}

    .stack-card h4 {font-size: .66rem}

    .stack-card i {font-size: 2.06rem; margin: .66rem;}
    
    .descricao {margin-bottom: 1rem;}
}

@media (min-width: 769px) and (max-width: 1299px) {#quebra-h1{display: none;}}